config/database.yml
log/*.log
tmp
db/*.sqlite3
coverage.data
metrics
*.swp
*~
*.swo
.DS_Store

# ignore native bits
# generated sort of by: git ls-files --others --exclude-standard vendor/gems
vendor/gems/RedCloth-4.2.2/ext/redcloth_scan/Makefile
vendor/gems/RedCloth-4.2.2/ext/redcloth_scan/redcloth_attributes.o
vendor/gems/RedCloth-4.2.2/ext/redcloth_scan/redcloth_inline.o
vendor/gems/RedCloth-4.2.2/ext/redcloth_scan/redcloth_scan.bundle
vendor/gems/RedCloth-4.2.2/ext/redcloth_scan/redcloth_scan.o
vendor/gems/RedCloth-4.2.2/lib/redcloth_scan.bundle
vendor/gems/json-1.1.7/ext/json/ext/generator.bundle
vendor/gems/json-1.1.7/ext/json/ext/generator/Makefile
vendor/gems/json-1.1.7/ext/json/ext/generator/generator.bundle
vendor/gems/json-1.1.7/ext/json/ext/generator/generator.o
vendor/gems/json-1.1.7/ext/json/ext/generator/mkmf.log
vendor/gems/json-1.1.7/ext/json/ext/generator/unicode.o
vendor/gems/json-1.1.7/ext/json/ext/parser.bundle
vendor/gems/json-1.1.7/ext/json/ext/parser/Makefile
vendor/gems/json-1.1.7/ext/json/ext/parser/mkmf.log
vendor/gems/json-1.1.7/ext/json/ext/parser/parser.bundle
vendor/gems/json-1.1.7/ext/json/ext/parser/parser.o
vendor/gems/json-1.1.7/ext/json/ext/parser/unicode.o
vendor/gems/taf2-curb-0.2.8.0/ext/Makefile
vendor/gems/taf2-curb-0.2.8.0/ext/curb.o
vendor/gems/taf2-curb-0.2.8.0/ext/curb_config.h
vendor/gems/taf2-curb-0.2.8.0/ext/curb_core.bundle
vendor/gems/taf2-curb-0.2.8.0/ext/curb_easy.o
vendor/gems/taf2-curb-0.2.8.0/ext/curb_errors.o
vendor/gems/taf2-curb-0.2.8.0/ext/curb_multi.o
vendor/gems/taf2-curb-0.2.8.0/ext/curb_postfield.o
vendor/gems/taf2-curb-0.2.8.0/ext/mkmf.log
vendor/gems/taf2-curb-0.2.8.0/lib/curb_core.bundle
vendor/plugins/autochronic/spec/tmp/.git_sucks

