<article id="<%= date.to_s -%>" class='date'>
  <header>
    <h2><%= link_to_unless_current date.to_time.to_s(:date), month_presentations_path(:month => date.to_time.to_s(:month_and_year)) %></h2>
  </header>
  <%= render :partial => 'presentations/presentation', :collection => @grouped_presentations[date] %>
</article>
