%dl
  %dt Title
  %dd= form.text_field :title, :size => 100

  %dt Presenter
  %dd= form.text_field :presenter, :size => 100

  %dt Source (like a meeting with date)
  %dd= form.text_field :source, :title => 100

  %dt URL (currently only works with Google Video)
  %dd= form.text_field :url, :size => 100
