#edit
  .ribbon
    .row
      .crud
        %p= link_to 'Delete', presentation_path(@presentation), :method => :delete, :confirm => 'Are you sure?'

      %h2 Edit presentation

      = error_messages_for :presentation

      - form_for(@presentation) do |form|
        .fieldset
          = partial 'presentations/form', :form => form
        .buttons
          %p= form.submit 'Update', :disable_with => 'Please wait...'

