<h2>what</h2>
<h3>Past presentations</h3>

<%= paginate @presentations %>
<div class="presentation_wrapper">
  <ul class="dates">
    <%= render :partial => 'date', :collection => @grouped_presentations.keys %>
  </ul>
</div>
<%= paginate @presentations %>
