#new
  .ribbon
    .row
      %h2 New presentation
      = error_messages_for :presentation

      - form_for @presentation do |form|
        .fieldset
          = partial 'presentations/form', :form => form
        .buttons
          = form.submit 'Create', :disable_with => 'Please wait...'
