/*
  Website designed and built by Chad Mazzola (http://hellohappy.org) in September 2010.
  Inspiration from Jan Tschichold (1928) and Peter Saville (1978)
*/

@import 'forms';

body {
  background: #ffebc3;
  color: #222;
  font-family: prociono, georgia, palatino, times new roman, serif;
  text-rendering: optimizeLegibility;
}

a {
  color: #222;
  text-decoration: none;
}

p a {
  border-bottom: 1px solid #222;
  padding: 0 0 1px 0;
}

a:hover {
  border-bottom: 2px solid #222;
}

#container {
  margin: 42px 50px 75px 250px;
  width: 600px;
}

h1 {
  background: url("/images/ruby.png") 2px 0 no-repeat;
  font-size: 18px;
  font-weight: normal;
  line-height: 21px;
  margin: 0 0 24px -90px;
  padding: 14px 0 35px 90px;

  a:hover { border: none; }
}

h2 {
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
  left: -120px;
  position: relative;
  text-align: right;
  top: 32px;
  width: 100px;
}

h2.alt {
  line-height: 14px;
  top: 20px;
}

h2:after {
  content: "/";
  margin: 0 0 0 1px;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
}

p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 14px;
}

p.person {
  margin-bottom: 7px;
}

p.attribution {
  font-size: 12px;
  line-height: 21px;
  margin: 61px 0 0 0;
}

ul {
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 15px 0;
  text-align: left;
}

#internal.links {
  margin-top: 50px;
}

#external.links {
  margin-bottom: 40px;
}

ul li {
  float: left;
  margin: 0 8px 0 0;
}

ul li:after {
  content: "/";
  margin: 0 0 0 8px;
}

ul li:last-child:after {
  content: "";
}

ul li a {
  border-bottom: 1px solid #222;
  padding: 0 0 1px 0;
}

#footer {
  margin-top: 75px;
}
#footer p {
  font-size: 14px;
}

fieldset {
  background: none;
  border: none;
  padding: 0;
}

.inputs {
  li label {
    padding: 0 0 5px 0;
  }
  margin-bottom: 0;
  padding-bottom: 0;
}

input[type=submit] {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 12px;
  color: #fff;
  background: #a41000;
  border: 0px solid #999;
  margin: 0;
}

input[type=submit]:hover {
  color: #a41000;
  background: #fff;
  cursor: pointer;
  cursor: hand;
}

.presentations-index {
  ul li:after {
    content: "";
  }
  ul.dates {
    margin: 0;
  }
  ul.presentations {
    margin: 0;
    padding: 0;
    li.presentation {
      margin-bottom: 30px;
      h3 {
        margin-bottom: 10px;
        .meta {
          margin-left: 5px;
          font-size: 16px;
          a {
            margin-left: 5px;
          }
        }
        &:after, &:last-child:after {
          content: "";
        }
      }
    }
  }
}
