#new
  .ribbon
    .row
      %h2 New job
      = error_messages_for :job

      - form_for(@job) do |form|
        .fieldset
          = partial 'jobs/form', :form => form
        .buttons
          = form.submit 'Create', :disable_with => 'Please wait...'
