div.fieldset {
  margin: 0 0 1.4em 0;
}

.buttons {
  font-size: 1.2em;
  line-height: 1.2em;
}

.fieldset div {
  font-size: 1.2em;
  margin: 0.6em 0 0.4em 0;
}

.fieldset div div {
  margin: 0.4em 0 0.2em 0;
}

p.instruct {
  font-size: 1em;
}

label {
  font-family: Gotham,Century Gothic,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  text-shadow: 0 0 4px #000000;
}

#people .text_field,
#people .password_field {
  margin: 0 0 2em 0;
}

#people label {
  display: block;	
  font-size: 1.6em;
}

#people .text_field input,
#people .password_field input{
  color: #BDF;
  width: 100%;
  border: none;
  padding: .3em;
  font-size: 5em;
  background: #035;
  border-bottom: .1em solid #046;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#people .password_field input{
  font-weight: bold;
}

#people .checkbox_field label {
  display: inline;
  vertical-align: middle;
}

#people .checkbox_field {
  margin-bottom: 2em;
}

/* new event */

#new .checkbox_field label,
#new .checkbox_field input {
  display: inline;
  vertical-align: middle;  	
}