.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearfix { height: 1%; }
*:first-child+html .clearfix { min-height: 1px; }

.half,
.quarter,
.three_quarters {
  display: inline-block;
  vertical-align: top;
}

.middle {
  margin: 0 auto;
}

.center {
  text-align: center;
}

/* grid 960 { 480 240 120 60 30 15 5 } */

/*.grid_960 */ 
.grid_960 .row{
  width: 96em;
  margin: 0 auto;
}

.grid_960 .half {
  width: 48em;
}

.grid_960 .quarter {
  width: 24em;
}

.grid_960 .three_quarters {
  width: 72em;
}

/* testing framework */
.test {
  -moz-opacity: .7;
  background: #000;
  color: #FFF;
}
.test h1 {
  background: #0F0;
}
.test h2 {
  background: #0C0;
}
.test h3 {
  background: #090;
}
.test h4 {
  background: #060;
}
.test ul {
  background: #c00;
}
.test p {
  background: #c00;
}

/* custom layout */

body {
  margin: 2.1em 0 0 0;
  background: url(../images/red.gif);
  color: #FED;
  color: #BDF;
  color: #eee !important;
}

#other_events, #companies, #authentication {
  padding: 2.1em 0;
  position: relative;
}

#apps {
  padding: 0 0 2em 0;
  position: relative;
}

#other_events h3, #apps h3, #companies h3, #twitter_blogs h3, #about h3 {
  color: #C30;
}
#other_events p, #apps p, #companies p {
  margin: 0;
}

.collage {
  height: 16em;
  background: #123;
}

.collage img {
  float: left;
  display: block;
}

#boston_rb {
  margin-bottom: 2.1em;
}

#presentations {
  padding: 2.1em 0;
}

#jobs {
  padding: 2.1em 0 0 0;
}

#events,
#projects,
#people,
#presentations,
#jobs {
  background: #000919;
}

#new,
#edit,
#show,
#events,
#sponsors {
  background: #000919 url(../images/ribbon.gif) 50% 100% repeat-x;
  padding: 0 0 2.1em 0;
}

.ribbon {
  background: #000919 url(../images/ribbon_i.gif) 50% 0% repeat-x;
  padding: 2.1em 0;
}

#projects {
  margin-bottom: 2.1em;
  padding: 2.1em 0 0.6em 0;
}

#people {
  padding: 2.1em 0;
}

#about {
  padding: 2.1em 0 0 0;
}

#twitter_blogs {
  padding: 2.1em 0 0 0;
}
#twitter_blogs p,
#twitter_blogs li {
  color: #FDB;
}

#boston_rb p a {
  color: #fff;
  background: #400;
  font-style: italic;
  margin-right: .75em;
  font-family: Georgia;
  text-decoration: none;
  padding: .75em .75em .75em 0;
}

#boston_rb p a:hover {
  background: #500;
}

#boston_rb p a strong {
  font-style: normal;
  font-weight: normal;
  margin-right: .5em;
  padding: .75em;
  background: #200000;
  color: #FC9;
}

#boston_rb p a:hover strong {
  background: #290000;
}

.crud {
  display: block;
  float: right;
}

#map {
  width: 100%;
  height: 500px;
  background: #00090f;
}

#show ul.details {
	margin: 0;
	padding: 0;
}

#show ul.details li {
  clear: both;
  padding: .75em;
  background: #00090f;
  list-style-type: none;
  border-bottom: 1px solid #024;
}

#show ul.details li.last {
  border-bottom: none;
}

#show ul.details li.last p {
	font-size: 1em;
}

#show ul.details .detail {
	float: left;
  width: 90%;
}

#show ul.details .label {
  color: #369;
	float: right;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
}

#boston_rb p.navigation {
	float: left;
}

#boston_rb p.authentication {
	float: right;
}

#boston_rb p.authentication a {
	padding: .75em;
}

#footer {
  padding-top: 2em;
}

#footer ul {
	text-align: center;
  list-style-type: none;
}

#footer ul li.engineyard a {
  width: 82px;
  height: 38px;
  text-indent: -9999px;
  display: inline-block;
  text-decoration: none;
  background: url(/images/engineyard.png) 0 0 no-repeat;
}

#companies .crud {
	float: none;
  position: absolute;
  top: 1.8em;
  right:2em;
}

#apps .crud {
	float: none;
  position: absolute;
  top: 0;
  right:2em;	
}
