#container {
  margin: 5px auto 150px;
  width: 92%; }

a {
  border-bottom: 1px solid #222;
  color: #222;
  text-decoration: none; }

h1 {
  background: url("/images/ruby.png") 0 no-repeat;
  background-size: 150px 150px;
  -webkkit-background-size: 150px 150px;
  font-size: 50px;
  font-weight: normal;
  line-height: 50px;
  margin: 0 0 35px 0;
  padding: 74px 150px 74px 175px; }

h2 {
  display: none; }

h3 {
  font-size: 64px;
  line-height: 72px;
  margin: 0 0 48px 0; }

p,
p.person {
  font-size: 52px;
  line-height: 72px;
  margin-bottom: 48px; }

p.attribution {
  font-size: 24px;
  line-height: 42px;
  margin: 61px 0 0 0; }

ul {
  font-size: 64px;
  line-height: 72px;
  margin: 88px 0 42px 0;
  text-align: left; }

ul li {
  display: block;
  float: none;
  margin: 0 0 36px 0; }

ul li:after {
  content: ""; }
