/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 10, ../../app/stylesheets/screen.scss */
a {
  color: #222;
}

/* line 14, ../../app/stylesheets/screen.scss */
body {
  background: #ffebc3;
  color: #222;
  font-family: prociono, georgia, palatino, times new roman, serif;
  text-rendering: optimizeLegibility;
  width: 600px;
  margin: 42px 50px 75px 250px;
}
/* line 22, ../../app/stylesheets/screen.scss */
body > header {
  padding-top: 9px;
  margin-bottom: 16px;
}
/* line 26, ../../app/stylesheets/screen.scss */
body > header h1 a {
  font-size: 48px;
  text-decoration: none;
  padding-left: 6px;
}
/* line 31, ../../app/stylesheets/screen.scss */
body > header h1 img {
  height: 48px;
  position: relative;
  top: 5px;
}

/* line 40, ../../app/stylesheets/screen.scss */
nav.links {
  margin-bottom: 20px;
}
/* line 42, ../../app/stylesheets/screen.scss */
nav.links ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  font-size: 12px;
  margin-bottom: 10px;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.links ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.links ul li:first-child, nav.links ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.links ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav.links ul li.last {
  padding-right: 0;
}
/* line 46, ../../app/stylesheets/screen.scss */
nav.links ul li {
  padding-left: 0px;
  line-height: 1.5em;
}
/* line 49, ../../app/stylesheets/screen.scss */
nav.links ul li:after {
  content: "/";
}
/* line 52, ../../app/stylesheets/screen.scss */
nav.links ul li:last-child:after {
  content: "";
}
/* line 55, ../../app/stylesheets/screen.scss */
nav.links ul li a {
  margin-right: 4px;
  text-decoration: none;
  padding-bottom: 1px;
}
/* line 59, ../../app/stylesheets/screen.scss */
nav.links ul li a:hover {
  border-bottom: 1px solid;
}

/* line 68, ../../app/stylesheets/screen.scss */
section#container > hgroup.title {
  margin-bottom: 20px;
}
/* line 70, ../../app/stylesheets/screen.scss */
section#container > hgroup.title h2 {
  position: relative;
  left: -160px;
  width: 140px;
  text-align: right;
  top: 20px;
}
/* line 76, ../../app/stylesheets/screen.scss */
section#container > hgroup.title h2:after {
  content: "/";
}
/* line 80, ../../app/stylesheets/screen.scss */
section#container > hgroup.title h3 {
  font-size: 24px;
}

/* line 86, ../../app/stylesheets/screen.scss */
section.column {
  float: left;
}
/* line 88, ../../app/stylesheets/screen.scss */
section.column.thin {
  width: 280px;
}
/* line 91, ../../app/stylesheets/screen.scss */
section.column > article {
  margin-bottom: 20px;
}
/* line 93, ../../app/stylesheets/screen.scss */
section.column > article > header {
  top: 32px;
  position: relative;
  left: -160px;
  width: 140px;
}
/* line 98, ../../app/stylesheets/screen.scss */
section.column > article > header h2 {
  font-size: 24px;
  text-align: right;
}
/* line 101, ../../app/stylesheets/screen.scss */
section.column > article > header h2:after {
  content: "/";
}
/* line 107, ../../app/stylesheets/screen.scss */
section.column > article.date > header {
  line-height: 28px;
  top: 28px;
}
/* line 110, ../../app/stylesheets/screen.scss */
section.column > article.date > header h2 {
  font-size: 16px;
}
/* line 114, ../../app/stylesheets/screen.scss */
section.column > article.date section.presentation {
  margin-bottom: 30px;
}
/* line 116, ../../app/stylesheets/screen.scss */
section.column > article.date section.presentation > hgroup {
  margin-bottom: 10px;
}
/* line 118, ../../app/stylesheets/screen.scss */
section.column > article.date section.presentation > hgroup h2 {
  font-size: 24px;
  margin-bottom: 8px;
}
/* line 122, ../../app/stylesheets/screen.scss */
section.column > article.date section.presentation > hgroup h4 {
  font-size: 16px;
}
/* line 126, ../../app/stylesheets/screen.scss */
section.column > article.date section.presentation p {
  margin-top: 10px;
}
/* line 132, ../../app/stylesheets/screen.scss */
section.column > article > p {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #F5DCA0;
  padding: 10px;
  line-height: 28px;
  text-align: left;
}

/* line 142, ../../app/stylesheets/screen.scss */
aside {
  margin-top: 24px;
  margin-left: 20px;
  float: left;
  width: 270px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  background-color: #B46E32;
  color: #F5DCA0;
  padding: 10px;
}
/* line 151, ../../app/stylesheets/screen.scss */
aside > header {
  margin-bottom: 30px;
}
/* line 153, ../../app/stylesheets/screen.scss */
aside > header h2 {
  font-size: 36px;
}
/* line 158, ../../app/stylesheets/screen.scss */
aside article.date {
  margin-bottom: 30px;
}
/* line 159, ../../app/stylesheets/screen.scss */
aside article.date a {
  text-decoration: none;
}
/* line 163, ../../app/stylesheets/screen.scss */
aside article.date:last-child {
  margin-bottom: 0px;
}
/* line 167, ../../app/stylesheets/screen.scss */
aside article.date > header {
  margin-bottom: 10px;
}
/* line 169, ../../app/stylesheets/screen.scss */
aside article.date > header h2 {
  font-size: 28px;
}
/* line 173, ../../app/stylesheets/screen.scss */
aside article.date section {
  margin-bottom: 20px;
}
/* line 174, ../../app/stylesheets/screen.scss */
aside article.date section hgroup {
  margin-bottom: 10px;
}
/* line 176, ../../app/stylesheets/screen.scss */
aside article.date section hgroup h2 {
  font-size: 24px;
  margin-bottom: 5px;
}
/* line 177, ../../app/stylesheets/screen.scss */
aside article.date section hgroup h2 a {
  color: #F5DCA0;
}
/* line 183, ../../app/stylesheets/screen.scss */
aside article.date section hgroup h4 {
  font-size: 14px;
}

/* line 193, ../../app/stylesheets/screen.scss */
body.presentations-index section.column {
  float: none;
}

/* line 199, ../../app/stylesheets/screen.scss */
body.proposals label {
  font-weight: bold;
  font-size: 16px;
  display: block;
  padding-bottom: 5px;
}
/* line 205, ../../app/stylesheets/screen.scss */
body.proposals input[type="text"], body.proposals textarea {
  padding: 5px;
  width: 400px;
  font-size: 16px;
}
/* line 210, ../../app/stylesheets/screen.scss */
body.proposals input[type="text"] {
  margin-bottom: 1em;
}
/* line 213, ../../app/stylesheets/screen.scss */
body.proposals input[type="submit"] {
  background-color: #A41000;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  border: 0px;
  margin: 0px;
  padding: 8px 12px;
}
/* line 223, ../../app/stylesheets/screen.scss */
body.proposals textarea {
  height: 200px;
  margin-bottom: 1em;
}
/* line 227, ../../app/stylesheets/screen.scss */
body.proposals p {
  margin-bottom: 1em;
}
