/*
  Website designed and built by Chad Mazzola (http://hellohappy.org) in September 2010.
  Inspiration from Jan Tschichold (1928) and Peter Saville (1978)
*/
/* Forms */
/*removes dotted outline on submit buttons when clicking in firefox */
input[type="submit"]::-moz-focus-inner {
  border: none; }

form ol {
  list-style: none;
  margin: 0 0 1em 0; }

form ol ol {
  margin-left: 0; }

form ol li {
  list-style-position: outside;
  margin: 0 0 1em 0; }

/*list-style-position fixes IE label margin bug*/
form ol ol li {
  list-style-position: outside;
  margin: 0 0 .25em 0; }

form ol li.error input {
  background: #FBE3E4; }

p.inline-errors {
  color: #D12F19; }

form ol li.file {
  background: #e1e1e1;
  border: 1px solid #c8c8c8;
  padding: 10px; }

form abbr {
  border-bottom: 0; }

label {
  display: block; }

.required label {
  font-weight: bold; }

.checkbox_field label,
.radio_field label {
  font-weight: normal; }

a.cancel {
  color: #7d0d0d; }

.inline-hints {
  color: #666;
  font-size: 0.8em;
  margin-bottom: 0.25em; }

/* Fieldsets */
fieldset {
  background: #f1f1f1;
  border: 1px solid #e3e3e3;
  margin: 0 0 1.5em 0;
  padding: 1.5em 1.5em 1em 1.5em; }

fieldset fieldset,
fieldset fieldset fieldset {
  border: 0;
  padding: 0; }

legend {
  font-weight: bold; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

fieldset.buttons {
  background: inherit;
  border: 0;
  padding: 0; }

fieldset.buttons li {
  display: inline; }

.radio fieldset {
  margin: 0;
  padding: 0; }

/* Text fields */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  font-size: inherit;
  padding: 3px 2px;
  width: 300px; }

.ie6 input {
  vertical-align: text-bottom; }

input[disabled='disabled'] {
  background-color: #fcfcfc;
  cursor: default; }

input[type="checkbox"] {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

input[type="radio"] {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle; }

.check_boxes label {
  display: inline;
  padding: 0;
  vertical-align: middle; }

.radio label {
  padding: 0; }

/* Textareas */
textarea {
  font-size: inherit;
  height: 200px;
  margin: 0 0.5em 0.5em 0;
  padding: 5px;
  width: 440px;
  overflow: auto; }

/* Select fields */
fieldset .select select {
  width: 200px;
  font-size: 0.9em; }

optgroup {
  margin: 0 0 .5em 0; }

/* Date & Time */
form ol li.date ol li,
form ol li.time ol li {
  display: inline; }

form ol li.datetime ol li {
  display: inline-block; }

form ol li.datetime select,
form ol li.date select,
form ol li.time select {
  display: inline;
  width: auto; }

form ol li.date label,
form ol li.time label {
  display: none; }

body {
  background: #ffebc3;
  color: #222;
  font-family: prociono, georgia, palatino, times new roman, serif;
  text-rendering: optimizeLegibility; }

a {
  color: #222;
  text-decoration: none; }

p a {
  border-bottom: 1px solid #222;
  padding: 0 0 1px 0; }

a:hover {
  border-bottom: 2px solid #222; }

#container {
  margin: 42px 50px 75px 250px;
  width: 600px; }

h1 {
  background: url("/images/ruby.png") 2px 0 no-repeat;
  font-size: 18px;
  font-weight: normal;
  line-height: 21px;
  margin: 0 0 24px -90px;
  padding: 14px 0 35px 90px; }
  h1 a:hover {
    border: none; }

h2 {
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
  left: -120px;
  position: relative;
  text-align: right;
  top: 32px;
  width: 100px; }

h2.alt {
  line-height: 14px;
  top: 20px; }

h2:after {
  content: "/";
  margin: 0 0 0 1px; }

h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 28px; }

p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 14px; }

p.person {
  margin-bottom: 7px; }

p.attribution {
  font-size: 12px;
  line-height: 21px;
  margin: 61px 0 0 0; }

ul {
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 15px 0;
  text-align: left; }

#internal.links {
  margin-top: 50px; }

#external.links {
  margin-bottom: 40px; }

ul li {
  float: left;
  margin: 0 8px 0 0; }

ul li:after {
  content: "/";
  margin: 0 0 0 8px; }

ul li:last-child:after {
  content: ""; }

ul li a {
  border-bottom: 1px solid #222;
  padding: 0 0 1px 0; }

#footer {
  margin-top: 75px; }

#footer p {
  font-size: 14px; }

fieldset {
  background: none;
  border: none;
  padding: 0; }

.inputs {
  margin-bottom: 0;
  padding-bottom: 0; }
  .inputs li label {
    padding: 0 0 5px 0; }

input[type=submit] {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 12px;
  color: #fff;
  background: #a41000;
  border: 0px solid #999;
  margin: 0; }

input[type=submit]:hover {
  color: #a41000;
  background: #fff;
  cursor: pointer;
  cursor: hand; }

.presentations-upcoming h2 {
  width: 200px;
  left: -340px;
  display: inline; }

div.presentations-upcoming {
  margin-left: 100px; }

.presentations-index ul li:after, .presentations-show ul li:after, div.presentations-upcoming ul li:after {
  content: ""; }
.presentations-index ul.dates, .presentations-show ul.dates, div.presentations-upcoming ul.dates {
  margin: 0; }
  .presentations-index ul.dates h2, .presentations-show ul.dates h2, div.presentations-upcoming ul.dates h2 {
    left: -160px;
    width: 140px; }
  .presentations-index ul.dates li, .presentations-show ul.dates li, div.presentations-upcoming ul.dates li {
    float: none; }
  .presentations-index ul.presentations li.presentation, .presentations-show ul.presentations li.presentation, div.presentations-upcoming ul.presentations li.presentation {
    margin-bottom: 30px; }
    .presentations-index ul.presentations li.presentation h3, .presentations-show ul.presentations li.presentation h3, div.presentations-upcoming ul.presentations li.presentation h3 {
      margin-bottom: 10px; }
      .presentations-index ul.presentations li.presentation h3 .meta, .presentations-show ul.presentations li.presentation h3 .meta, div.presentations-upcoming ul.presentations li.presentation h3 .meta {
        margin-left: 5px;
        font-size: 16px; }
        .presentations-index ul.presentations li.presentation h3 .meta a, .presentations-show ul.presentations li.presentation h3 .meta a, div.presentations-upcoming ul.presentations li.presentation h3 .meta a {
          margin-left: 5px; }
      .presentations-index ul.presentations li.presentation h3:after, .presentations-index ul.presentations li.presentation h3:last-child:after, .presentations-show ul.presentations li.presentation h3:after, .presentations-show ul.presentations li.presentation h3:last-child:after, div.presentations-upcoming ul.presentations li.presentation h3:after, div.presentations-upcoming ul.presentations li.presentation h3:last-child:after {
        content: ""; }
