#about.row
  %h3.center About
  %p.center
    :textile
      Founded 2005. Monthly meetings, hackfests, & theatre. Frequent pub nights. We communicate via "mailing list":http://groups.google.com/group/boston-rubygroup & "#boston.rb on IRC":irc://irc.freenode.net/boston.rb . Activity feeds are available via #{ link_to "RSS", "/jobs.rss" } or "Twitter":http://twitter.com/bostonrb. Thanks to our #{ link_to "sponsors", page_path(:sponsors) }. This Ruby web application is #{ link_to "open source", "http://github.com/bostonrb/bostonrb" }, available under the MIT license.

