<nav class='links'>
  <ul>
    <li><%= link_to_unless_current_with_span "Calendar", calendar_path %></li>
    <li><%= link_to_unless_current_with_span "Presentations", presentations_path %></li>
    <li><%= link_to_unless_current_with_span "Hackfests", hackfests_path %></li>
    <li><%= link_to_unless_current_with_span "Submit Proposal", new_proposal_path %></li>
    <li><a href="http://groups.google.com/group/boston-rubygroup" title="Mailing list">Mailing list</a></li>
    <li class="desktop-only"><a href="irc://irc.freenode.net/boston.rb">IRC</a></li>
    <li><a href="http://github.com/bostonrb/bostonrb/wiki" title="More information than you can handle">Wiki</a></li>
    <li><a href="http://twitter.com/bostonrb" title="Tweets from bostonrb">Twitter</a></li>
    <li><a href="http://github.com/bostonrb" title="Shared code from bostonrb">Github</a></li>
    <li><a href="https://github.com/bostonrb/bostonrb/wiki/Work" title="Opportunities for Boston Rubyists">Jobs</a></li>
  </ul>
</nav>

