%ul.details
  %li.clearfix
    .detail= event.date.to_s(:long_date)
    .label When

  %li.clearfix
    .detail= event.location
    .label Where

  %li.clearfix.last
    .detail= event.cached_description_html
    .label What
