- content_for :javascripts do
  = event_map @next_event

#events
  .ribbon
    .row
      %h2 Events
      %p= link_to 'New event', new_event_path
      - unless @events.empty?
        - @events.each do |event|
          .quarter>
            %h3= link_to event.title, event
            %p= event.description
      - else
        %p Nothing coming up! Check again later.
