#projects
  .ribbon
    .row
      %h2 New event
      = error_messages_for :event

      - form_for(@event) do |form|
        .fieldset
          = partial '/events/fields', :form => form
          .buttons
            = form.submit 'Create', :disable_with => 'Please wait...'
