<div class="presentations-upcoming">
  <div class="presentations-heading">Next Meeting: <%= @next_meeting_date %></div>
  <ul class="presentations">
    <%= render :partial => 'presentations/presentation', :collection => @presentations %>
   </ul>
  <div class="clearfix"></div>
</div>

