<div class="presentations-upcoming">
  <h2>upcoming presentations</h2>
  <ul class = 'dates'>
    <%= render :partial => 'presentations/date', :collection => @grouped_presentations.keys %>
  </ul>
</div>

