%h2 About Boston.rb

%p The group was founding by Chris Lambert, a Northeastern graduate student in the fall of 2005. He's now working for Google in California. Meetings where very sporadic for the first year. Tom Dyer became more involved in 2006 and we've had monthly meetings since.

%p We've had mostly local people speak:

%ul
  %li Dmitry Amelchenko
  %li Jonathan Barket
  %li Mark Bates
  %li Jesse Colman-McGill
  %li Topher Cyll
  %li Brian DeLacey
  %li Antony Nigel Donovan
  %li Andrew Drane
  %li Jeremy Durham
  %li Joe Ferris
  %li Daniel Higginbotham
  %li Darryl Lundy
  %li Victor Mazurenk
  %li Eric Mill
  %li Steve Morss
  %li Josh Nichols
  %li John Norman
  %li Louise Rains
  %li Tammer Saleh
  %li Tracey Zellman

%p However, some people have come in from out of town such as Gregory Brown and Gregg Pollack. Our largest meeting was at Harvard in the summer of 2007 when David Black and Zed Shaw spoke. Over 100 people attended.

%p= "Find other Boston Rubyists on #{link_to('Working With Rails', 'http://workingwithrails.com/group/3876-boston-ruby-group')}."
 
