%h2 About Boston.rb

 %p Boston Rubyists are living the dream: with at least three events scheduled per month, there's ample time to feed our ravenous need to learn and explore this great programming language.
  %p Every 2nd Tuesday of the month, we have a lecture-style meeting. Every 1st and 3rd Tuesday of the month, we have hackfests, where we write code together.

%p The group was founding by Chris Lambert, a Northeastern graduate student in the fall of 2005. He's now working for Google in California. Meetings where very sporadic for the first year. Tom Dyer became more involved in 2006 and we've had monthly meetings since.

%p We've had mostly local people speak:

%ul
  %li Dmitry Amelchenko
  %li Jonathan Barket
  %li Mark Bates
  %li Jesse Colman-McGill
  %li Topher Cyll
  %li Brian DeLacey
  %li Antony Nigel Donovan
  %li Andrew Drane
  %li Jeremy Durham
  %li Joe Ferris
  %li Daniel Higginbotham
  %li Darryl Lundy
  %li Victor Mazurenk
  %li Eric Mill
  %li Steve Morss
  %li Josh Nichols
  %li John Norman
  %li Louise Rains
  %li Tammer Saleh
  %li Tracey Zellman

%p However, some people have come in from out of town such as Gregory Brown and Gregg Pollack. Our largest meeting was at Harvard in the summer of 2007 when David Black and Zed Shaw spoke. Over 100 people attended.

%p= "Find other Boston Rubyists on #{link_to('Working With Rails', 'http://workingwithrails.com/group/3876-boston-ruby-group')}."

%p Sponsoring an event used to mean buying the pizza and drinks, usually around $150. The sponsor got 5 minutes to talk to the group. Usually they would make a pitch for hiring developers. Many companies have sponsored, mostly small local concerns that are implementing apps with Rails. 

%p Since the spring of 2008, Sermo has graciously hosted the monthly Boston.rb meetings. They provide food, drinks, wireless, and a comfortable space that can accomodate 50+ Rubyists. 

