<section class='column'>
  <article>
    <header>
      <h4>What is a Hackfest?</h4>
    </header>
    <p>Hackfests are when BostonRB members get together twice a month to work on Ruby projects. Most members work on personal projects during this time but everybody is free to work on anything they like.</p>
  </article>

  <article>
    <header>
      <h4>What should I bring with me?</h4>
    </header>
    <p>Just a laptop and some code to hack on.</p>
  </article>

  <article>
    <header>
      <h4>I don't have a laptop or anything to work on, can I still come?</h4>
    </header>
    <p>Yes! There are always people looking to pair up on code.</p>
  </article>
  <article>
    <header>
      <h4>When and where are Hackfests?</h4>
    </header>
    <p>Hackfests take place on the first and third Tuesday of every month from 7pm to 9pm. Please see the <%= link_to 'calendar', calendar_path %> for details on the venues.</p>
  </article>
</section>
