<h2>when</h2>
<h3>Second Tuesday of every month<br>7PM to 9PM</h3>

<h2>where</h2>
<h3><a href="http://maps.google.com/maps?q=215+1st+St+cambridge+%20ma+02142">Sermo office<br>215 1st St, 4th Floor / Cambridge, MA</a></h3>

<h2>next</h2>
<h3 id="next-event"><%= format_event(BostonRbCalendar.next_event) %></h3>

<ul id="external-links">
  <li><%= link_to "Calendar", page_path("calendar") %></li>
  <li><a href="http://groups.google.com/group/boston-rubygroup" title="Mailing list">Mailing list</a></li>
  <li><a href="irc://irc.freenode.net/boston.rb">IRC</a></li>
  <li><a href="http://github.com/bostonrb/bostonrb/wiki" title="More information than you can handle">Wiki</a></li>
  <li><a href="http://twitter.com/bostonrb" title="Tweets from bostonrb">Twitter</a></li>
  <li><a href="http://github.com/bostonrb" title="Shared code from bostonrb">Github</a></li>
  <li><%= link_to "Submit Proposal", new_proposal_path %></li>
</ul>

<h2 class="alt">what</h2>
<p>Boston Ruby is a local community of Rubyists and enthusiasts of open source software. The main event is the second Tuesday of every month. Those events entail one or two 45-minute presentations, lightning talks, and announcements.</p>

<h2 class="alt">who</h2>
<p>Experienced Rubyists are usually present and new Rubyists are always welcome!</p>

<h2 class="alt">more</h2>
<p>Hackfests happen on the first and third Tuesdays of the month. Typically five to twenty people show, and people do things like getting their first Rails app running or writing and releasing <a href="http://rubygems.org">Ruby gems</a>.</p>
<p>We will be writing code so bring a laptop and enthusiasm. For those without a project idea be willing to help others.</p>

<div id="footer">
  <p>Website designed by Chad Mazzola (<a href="http://hellohappy.org">http://hellohappy.org</a>).</a>
</div>
