<section class='thin column'>
  <article>
    <header><h2>when</h2></header>
    <p>Second Tuesday of every month<br>7PM to 9PM</p>
  </article>

  <article>
    <header><h2>where</h2></header>
    <p>
      <a href="http://maps.google.com/maps?q=1+memorial+drive+cambridge+ma">Microsoft NERD</a><br/>
        1 Memorial Drive<br/>
        Cambridge, MA 02142<br/>
      <%= link_to 'Sign up required','http://guestlistapp.com/events/81732', :id => 'signup' %>
    </p>
  </article>

  <article>
    <header>
      <h2>what</h2>
    </header>
    <p>Boston Ruby is a local community of Rubyists and enthusiasts of open source software. The main event is the second Tuesday of every month. Those events entail one or two 45-minute presentations, lightning talks, and announcements.</p>
  </article>

  <article>
    <header><h2>who</h2></header>
    <p>Experienced Rubyists are usually present and new Rubyists are always welcome!</p>
  </article>

  <article>
    <header><h2>more</h2></header>
    <p>
      Hackfests happen on the first and third Tuesdays of the month. Typically five to twenty people show, and people do things like getting their first Rails app running or writing and releasing <a href="http://rubygems.org">Ruby gems</a>.
      <br/><br/>
      We will be writing code so bring a laptop and enthusiasm. For those without a project idea be willing to help others.
    </p>
  </article>

</section>

<%= upcoming_presentations %>
