<section class='thick column'>
<article>
  <header>
    <h2>what</h2>
  </header>
  <p>
  Project Night is a great night to receive help getting Rails installed on your system,
  work on and get help with your own project, hack on some open source, and meet other
  Rubyists in the Boston area.</br>
  <br/>
  We also have informal workshops to help introduce you to good programming practices, work
  with different gems, and learn more about Ruby and Rails.
  </p>
</article>

<article>
  <header><h2>when</h2></header>
  <p>First Tuesday of the month from 6:30PM to 9:30PM</p>
</article>

<article>
  <header><h2>where</h2></header>
  <p>
  <a href="http://maps.google.com/maps?f=q&hl=en&q=41+Winter+St,+Boston,+MA+02108">thoughtbot
    Offices</a><br/>
  41 Winter Street<br/>
  8th Floor<br/>
  Boston, MA 02108
  <%= link_to 'Sign up required', ENV['PROJECT_RSVP_URL'], :id => 'signup' %>
  </p>
</article>

<article>
  <header><h2>who</h2></header>
  <p>Experienced Rubyists are usually present and new Rubyists are always welcome!</p>
</article>

<article>
  <header><h2>setup</h2></header>
  <p>
  Whether you are on a Mac, Linux, or Windows, getting set up on Rails is easy.
  <br/>
  Our friends at <%= link_to "RailsBridge Boston", "http://www.railsbridgeboston.org/" %>
have some
great <%= link_to "Setup Instructions", "http://docs.railsbridgeboston.org/installfest/" %>
      on getting your system set up with Rails.
      <br/>

  </p>
</article>

<article>
  <header><h2>more</h2></header>
  <p>
  We welcome all skill levels, and encourage people that are "Ruby curious" to attend.
  <br/>
  <br/>
  We will be writing code so bring a laptop and enthusiasm. For those without a project idea, be
  willing to help others.
  </p>
</article>

</section>
