#sponsors
  .ribbon
    .row
      %h3 Sponsors
      
      %p Sermo hosts the monthly meetings. They provide food, drinks, wireless, &amp; a comfortable space for 50+ Rubyists.
      
      %p Engine Yard hosts
      
      %p Sponsors used to buy food &amp; drinks (about $150) and talk for 5 minutes to the group, pitching developers.