%dl
  %dt Name
  %dd= form.text_field :name, :size => 50

  %dt Homepage URL
  %dd= form.text_field :homepage_url, :size => 50

  %dt Feed URL
  %dd= form.text_field :feed_url, :size => 50

  %dt Description
  %dd= form.text_area :description
