#index
  .ribbon
    .row
      %h2 Jobs
      - collection.each do |project|
        %p
          %h3= link_to project.name, project.github_url
          ~ project.description
      = will_paginate collection
