#show
  .ribbon
    .row
      %h2= link_to @project.name, @project.github_url
      %ul.details
        %li.clearfix
          .detail= link_to @project.user.to_s, user_path(@project.user)
          .label Who
        %li.clearfix
          .detail= @project.watchers
          .label Watchers
        %li.clearfix.last
          .detail= @project.description
          .label What

