development:
  adapter: mysql
  socket: /tmp/mysql.sock
  database: bostonrb_development
  username: root
  password:
  
test:
  adapter: mysql
  socket: /tmp/mysql.sock
  database: bostonrb_test
  username: root
  password:
