#new
  .ribbon
    .row
      %h2 New Company
      = error_messages_for :company
      - form_for setup_company(@company) do |form|
        .fieldset
          = partial 'companies/fields', :form => form
        .buttons
          = form.submit 'Create', :disable_with => 'Please wait...'
