%h2 Edit App

= error_messages_for :app

- form_for(@app) do |form|
  = partial 'apps/form', :form => form
    
  %p= form.submit 'Update', :disable_with => 'Please wait...'
  %p= link_to 'Delete', app_path(@app), :method => :delete, :confirm => 'Are you sure?'