#apps
  .ribbon
    .row
      %h2 New App
      = error_messages_for :app

      - form_for(@app) do |form|
        .fieldset
          = partial 'apps/form', :form => form
        .buttons
          = form.submit 'Create', :disable_with => 'Please wait...'
