#new-presentation {
  a {
    background-color: #A41000;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    border: 0px;
    margin: 0px;
    padding: 8px 12px;
    clear:both;
  }
  margin-bottom:20px;
}
