#about.row
  %h3.center About
  %p.center== Founded 2005. Monthly meetings, hackfests, &amp; theatre. Frequent pub nights. We communicate via <a href="http://groups.google.com/group/boston-rubygroup">mailing list</a> &amp; #offrails on IRC. Activity feeds are available via #{ link_to "RSS", "/jobs.rss" } or <a href="http://twitter.com/bostonrb">Twitter</a>. Thanks to our #{ link_to "sponsors", page_path(:sponsors) }.
  %p.center= sentence_of(authentication_links, :connector => :or)

